{% extends 'base_auth.html' %}
{% load staticfiles %}
{% load blogauth_filter %}




{% block head %}
    <title>重置密码</title>
{% endblock head %}


{% block main %}

    <div class="text-center text-left">


        <h1><a href="{% url 'index' %}">返回首页</a></h1>
        <h3>重置密码</h3>
        <form class="form" action="{% url 'blogauth:password_reset' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group text-center">
{#                    {{ field.label_tag  }}#}
                    {{ field | addwidget:"{'class': 'form-control','placeholder':'请输入邮箱地址' }" }}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% if field.help_text %}
                        <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>



    </div>


{% endblock main %}

