{% extends 'base_auth.html' %}
{% load staticfiles %}
{% load blogauth_filter %}




{% block head %}
    <title>密码修改</title>
{% endblock head %}


{% block main %}

    <div class="text-center">

        <h1><a href="{% url 'index' %}">返回首页</a></h1>
        <h3></h3>
        <form class="form text-left" action="{% url 'blogauth:password_change' %}" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field | addwidget:"{'class': 'form-control' }" }}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% if field.help_text %}
                        <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}


            <button type="submit" class="btn btn-primary btn-block">确认修改</button>
        </form>
    </div>


{% endblock main %}




