{% extends 'base_home.html' %}
{% load highlight %}
{% load blog_tags %}


{% block nav_bar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'myblog' %}">我的博客</a></li>
            <li><a href="{% url 'write' %}">发表文章</a></li>
            <li><a href="{% url 'about' %}">作者简历</a></li>

        </ul>

        {#            action="{% url 'haystack_search' %}#}
        {% if user.is_authenticated %}
            <form role="search" method="get" class="navbar-form navbar-right" action="{% url 'haystack_search' %}">
                <div class="form-group">
                    <input type="search" placeholder="搜索" name="q" class="form-control" required>
                    {#                    {{ form.as_p}}#}
                </div>
                <button type="submit" class="btn btn-md btn-primary" value="search"><span
                        class="glyphicon glyphicon-search"
                        aria-hidden="true"></span> Search
                </button>


                <div class="form-group dropdown text-center">
                    <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false" style="padding-right: 0px;">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                        <span> {{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href="#"> 我的主页</a></li>
                        <li><a href="{% url 'blogauth:password_change' %}">修改密码</a></li>
                        <li><a href="{% url 'blogauth:logout' %}">退出</a></li>
                    </ul>
                </div>
            </form>
        {% else %}
            <form role="search" method="get" class="navbar-form navbar-right" action="{% url 'haystack_search' %}">
                <div class="form-group">
                    <input type="search" name="q" placeholder="搜索" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-search"
                                                                           aria-hidden="true"></span> Search
                </button>


                <button class='btn  btn-primary'
                        onclick="javascrtpt:window.location.href='{% url "blogauth:login" %}'">
                        <span class="glyphicon glyphicon-user "
                              aria-hidden="true"></span>登录
                </button>
            </form>
        {% endif %}

    </div>

{% endblock nav_bar %}

{% block blog_main %}

    <style>
        span.highlighted {
            color: #ea705a;
        }
    </style>
    {% if query %}

        {% for result in page.object_list %}
            <article class="post post-{{ result.object.pk }} row">
                <div class="col-md-6">
                    <img src="{{ article.img.url }}" width="100%" height="100%">

                </div>
                <div class="col-md-6">

                    <h2 class="blog-title">
                        <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a>
                    </h2>
                    <div class="entry-meta">
                    <span class="post-category">
                        <a href="{% url 'blog:category' result.object.category.pk %}">
                            分类:{{ result.object.category.name }}&nbsp;&nbsp;&nbsp;</a></span>
                        <span class="post-date"><a href="#">
                            <time class="entry-date" datetime="{{ result.object.created_time }}">
                                创作时间:{{ result.object.created_time }}&nbsp;&nbsp;&nbsp;</time></a></span>
                        <span class="post-author"><a
                                href="#">作者:{{ result.object.author }}&nbsp;&nbsp;&nbsp;</a></span>
                    </div>


                    <div class="entry-content clearfix">
                        <p>{% highlight result.object.body with query %}</p>

                    </div>
                </div>
            </article>
        {% empty %}
            <div class="no-post">没有搜索到你想要的结果！</div>
        {% endfor %}

        <nav aria-label="Page navigation" class="text-center">
            {% if page.has_previous or page.has_next %}
                <ul class="text-center pagination">
                    {% if  page.has_previous %}
                        <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                            &laquo; Prev
                        </a></li>
                    {% else %}
                        <li><a href=""
                               class="disabled">
                            &laquo; Prev
                        </a></li>
                    {% endif %}


                    {% if page.has_next %}
                        <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next
                            &raquo;</a></li>
                        {% else %}
                        <li><a href="" class="disabled">Next
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    {% else %}
        请输入搜索关键词，例如 django
    {% endif %}


{% endblock blog_main %}


{% block blog_sidebar %}

    {# 文章 #}
    <div class="text-left blog-sidebar-widget blog-bor ">
        <h2 class="blog-title"><span class="siderbar-title">最新文章</span></h2>
        <div class="sidebar-module text-left">

            {% get_recent_posts as recent_post_list %}
            <ol class="list-unstyled">
                {% for post in recent_post_list %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% empty %}
                    暂无文章！
                {% endfor %}
            </ol>
        </div>
    </div>

    {# 标签 #}
    <div class="blog-sidebar-widget blog-bor ">
        <h2 class="blog-title"><span class="siderbar-title">TAG cloud</span></h2>
        <div class="sidebar-module blog-clear-padding">
            {% get_categories as category_list %}
            <div>
                {% for category in category_list %}

                    <a href="{% url 'blog:category' category.pk %}" class="blog-tag">{{ category.name }} <span
                            class="post-count">({{ category.num_posts }})</span></a>

                {% empty %}
                    暂无分类！
                {% endfor %}

            </div>

        </div>

    </div>
    {# 归档 #}
    <div class="text-left blog-sidebar-widget blog-bor ">
        <h2 class="blog-title"><span class="siderbar-title">归档</span></h2>
        <div class="sidebar-module blog-clear-padding text-left ">


            {% get_archives as date_list %}

            {% for date in date_list %}

                <a href="{% url 'blog:archives' date.year date.month %}" class="blog-tag clearfloat">{{ date.year }}
                    年 {{ date.month }} 月</a>


            {% empty %}
                暂无归档！
            {% endfor %}

        </div>
    </div>



    {# rss #}
    <div class="blog-sidebar-widget blog-bor">
        <h2 class="blog-text-center blog-title"><span class="siderbar-title">RSS</span></h2>
        <div class="sidebar-module">

            <a href="{% url 'blog:rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
        </div>
    </div>


{% endblock blog_sidebar %}