{% extends 'base_home.html' %}
{% load blog_tags %}
{% load blogauth_filter %}
{% load staticfiles %}

{% block nav_bar %}

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'myblog' %}">我的博客</a></li>
            <li><a href="{% url 'write' %}">发表文章</a></li>
            <li><a href="{% url 'about' %}">作者简历</a></li>

        </ul>

        {#            action="{% url 'haystack_search' %}#}
        {% if user.is_authenticated %}
            <form role="search" method="get" class="navbar-form navbar-right" action="{% url 'haystack_search' %}">
                <div class="form-group">
                    <input type="search" placeholder="搜索" name="q" class="form-control" required>
                    {#                    {{ form.as_p}}#}
                </div>
                <button type="submit" class="btn btn-md btn-primary" value="search"><span
                        class="glyphicon glyphicon-search"
                        aria-hidden="true"></span> Search
                </button>


                <div class="form-group dropdown text-center">
                    <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false" style="padding-right: 0px;">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                        <span> {{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href="{% url 'myblog' %}"> 我的主页</a></li>
                        <li><a href="{% url 'blogauth:password_change' %}">修改密码</a></li>
                        <li><a href="{% url 'blogauth:logout' %}">退出</a></li>
                    </ul>
                </div>
            </form>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class='btn btn-lg btn-primary'
                            onclick="javascrtpt:window.location.href='{% url "blogauth:login" %}'">
                        <span class="glyphicon glyphicon-user "
                              aria-hidden="true"></span>登录
                    </button>
                </li>
            </ul>
        {% endif %}

    </div>

{% endblock nav_bar %}


{% block blog_main %}
    <article class="post post-{{ article.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ article.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ article.author }}</a></span>
{#                <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                <span class="views-count"><a href="#">588 阅读</a></span>#}
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ article.body|safe }} {# 关于safe过滤器的作用：告诉 Django，这段文本是安全的，不需要将html代码进行转义（（即显示原始的 HTML 代码，而不是经浏览器渲染后的格式）） #}

        </div>
    </article>
    <section class="comment-area">
        <hr>
        <h3>发表评论</h3>
        <form action="{% url 'comments:post_comment' article.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-1 ">
                    <img src="{% static 'img/dog.jpg' %}" class="img-circle" style="width:60px;">
                </div>
                <div class="col-md-11 ">
                    <label for="{{ form.text.id_for_label }}" class="center-block">评论：</label>
                    {{ form.text | addwidget:"{'class':'form-control'}" }}
                    {{ form.text.errors }}
                </div>

            </div>    <!-- row -->

            <div class="row">
                <div class="col-md-2 col-md-push-1">
                    {% if user.is_authenticated %}
                        <button type="submit" class="comment-btn">发表</button>
                    {% else %}
                        <a role="button" class="btn btn-primary" href="{% url 'blogauth:login' %}">请登录后再发表评论</a>
                    {% endif %}
                </div>
            </div>

        </form>
        <div class="comment-list-panel">
            <h3>评论列表，共 {{ article.comment_set.count }} 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date"
                              datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock blog_main %}


{% block blog_sidebar %}

    <div class="sidebar-module">
        <h4>最新文章</h4>
        {% get_recent_posts as recent_post_list %}
        <ol class="list-unstyled">
            {% for post in recent_post_list %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% empty %}
                暂无文章！
            {% endfor %}
        </ol>
    </div>

    <div class="sidebar-module">
        <h4>归档</h4>
        {% get_archives as date_list %}
        <ol class="list-unstyled">
            {% for date in date_list %}
                <li>
                    {#                                                这个模板标签的作用是解析视图函数 blog:archives 对应的 URL 模式，并把 URL 模式中的年和月替换成 date.year，date.month 的值#}
                    <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                </li>
            {% empty %}
                暂无归档！
            {% endfor %}
        </ol>
    </div>

    <div class="sidebar-module">
        <h4>分类</h4>
        {% get_categories as category_list %}
        <ol class="list-unstyled">
            {% for category in category_list %}
                <li>
                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span
                            class="post-count">({{ category.num_posts }})</span></a>
                </li>
            {% empty %}
                暂无分类！
            {% endfor %}
        </ol>
    </div>

    <div class="sidebar-module">
        <h4>标签云</h4>
        {% get_tags as tag_list %}
        <ol class="list-unstyled">
            {% for tag in tag_list %}
                <li>
                    <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                </li>
            {% empty %}
                暂无标签！
            {% endfor %}
        </ol>
    </div>

    <div class="sidebar-module">
        {#                            {% url 'rss' %}#}
        <a href="#"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>


{% endblock blog_sidebar %}