

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0,0,0,0);
    font-size:16px;
}

.form-sign {

  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-sign input{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-sign input[type="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul.nav.nav-tabs.text-center{
    border-bottom: 0px;
}

.nav-tabs>li>a {
    color:#555;
    border-radius:2px 2px 0 0;
    border: 0px;
    font-size:18px;
}

/* a链接样式有 link，visited，focus，hover，active五种，按顺序书写比较好。参考http://www.cnblogs.com/umylover/p/3949091.html。*/
/* focus 焦点，tab按键查看，hover 光标经过元素的样式，鼠标放在元素上的样式。*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.nav-tabs>li.active{
    border-bottom:2px solid #0f88eb;
}


.nav-tabs>li.active>a  , .nav-tabs>li.active>a:hover {

    color: #0f88eb;
    cursor: default;
    background-color: rgba(0,0,0,0);
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}


ul.nav.nav-tabs.text-center>li {
    float:none;
    display:inline-block;

}

div.checkbox {
    text-align:left;
}

canvas {
  display: block;
  vertical-align: bottom;
}


#particles-js{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}







/*.container-fluid{*/
  /*position:relative;*/
  /*backgroud-color:rgba(0,0,0,0);*/
/*}*/