
#navbtn {
    height: 38px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

body {
    min-height: 2000px;
    padding-top: 70px;
}

ol.list-unstyled li{
    padding-bottom: 8px;
}

.post>h3,.post>div,.post>.entry-meta{
    padding-bottom: 4px;
}